<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confeitaria Delícia - Contato</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>Confeitaria Delícia</h1>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Cardápio</a></li>
                    <li><a href="/contatos">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="tabela-contato" style="background-color: white;">
        <h2 style="text-align: center; font-size: xx-large;">Entre em Contato!</h2>
        <div class="tabela">
            <div class="contato" id="contato1">
                <h3 style="text-align: center;">Informações de Contato:</h3>
                <p>Email: confeitaria.sempredoce@gmail.com.br</p>
                <p>Telefone: (19) 1234-5678</p>
                <p>Endereço: XXXXXXXXXXXXXXXX, XXXX, XX</p>
            </div>
            <br>
            <div class="contato" id="contato2">
                <h3 style="text-align: center;">Formulário de Contato</h3>
                <form>
                    <div class="form-group" style="padding-bottom: 10px;">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group" style="padding: 10px;">
                        <label for="text">Mensagem:</label>
                        <input type="text" class="form-control" id="mensagem" placeholder="Mensagem">
                    </div>
                    <button type="submit" class="botão">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <footer style="position: fixed;">
        <div class="container">
            <p>&copy; 2024 Confeitaria Delícia. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>